
.container{
	background: linear-gradient(-45deg, #2A9D8F, #F25C54, #F7B267, #F25C54);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
    position: fixed;
    top: 0;
    width: 100%;
	min-height: 100%;
}
#instagram{
	background-image: url('../src/img/instagram.png');
	background-position: center;
	background-size: cover;
}
#facebook{
	background-color: #3b5999;
}
.rs-drawer-content{
  background-color: rgba(255, 255, 255, 1) !important;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
