@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.drawerDemo{
  max-width: 70%;
}
@media only screen and (min-width: 700px) {
  .drawerDemo{
    max-width: 20%;
  }
}
.overFlow{
  overflow: hidden;
}
.mb-2{
  margin-bottom: 5px;
}
.container{
  min-width: 100%
}
.rs-content{
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif; 
}
.teezer{
  font-size: 10vw;
  height: fit-content;
}
/* התחלה אורך מקסימלי */
@media only screen and (max-width: 600px) {
  .teezer{
    font-size: 22vw;
    height: fit-content;
  }
  .About{
    margin: 2vh !important;
    max-height: 300px;
  }
  .contactUsCon{
    margin: 2vh !important;
  }
  .AboutHead{
    margin-top: 30px !important ;
    font-size: 300px;
  }
  
  .aboutCon{
    font-size: 8px !important;
  }

}
/* סוף אורך מקסימלי */
.comingsoon{
  text-align:center; 
  vertical-align: middle;
}

.rs-drawer-header{
  margin: 2px !important;
}

.navItem{
  margin: 2px;
}
.btnNav{
  display: block !important;
  width: 100%;
  text-align: center !important;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px !important;
}
.rs-drawer-title{
  text-align: center;
}

.About{
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2vh 10vh 2vh 10vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo{
background-image: url('../src/img/logo.png');
background-position: center;
background-size: cover;
display: inline-block;
overflow: hidden;
position: absolute;
padding: 20px;
border-radius: 50%;
height: 100px;
width: 100px;
top:-1px;
margin-top: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo-item{
  height: 4vw;
  width: 4vw;
}
.AboutHead{
  color: black;
  margin-top: 6vw;
  font-size: 3vw;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.aboutCon{
  margin-top: 4vw;
  font-size: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  color: gray;
}

.contactUsContainer{
  margin-left: 10vw;
  margin-right: 10vw;
}